*{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    
}
li{
    list-style: none;
}
body{
    font-family: 'Source Code Pro', monospace;
    background: url("../img/template-fundo-site-conseitos-opticos-4b.jpg") no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    color: #aeaeae;
    
    
}


.container{
    padding: 0 16px;
}

.box{
 background: #EEE;
 padding: 4rem;
 box-shadow: 2px 2px 16px rgba(0,0,0,0.16);
 border-radius: 50px;
 text-align: center;
 animation-name: fade;
 animation-duration: 1.5s;
 animation-delay: 0.25;
 box-shadow:0 1px 2px 0 rgba(0, 173, 159, 500);
}

.redes-sociais{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    

}
.redes-sociais li{
    position:relative;
    display:inline-block;
    margin:2rem 1rem;
    width:48px;
    height:48px;
    border-radius:5px;
    background-color:rgba(236, 234, 234, 0.863);
    box-shadow:0 1px 2px 0 rgba(0, 173, 159, 0.876);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}


.redes-sociais li :hover{
    transform:scale(1.25,1.25);
  }

.redes-sociais li ::after{
    opacity:1;
  }



.litle{
    font-weight: normal;  
   
}

.profile{
    border-radius: 50%;
    margin: 0 auto 2rem auto ;
    box-shadow:0 1px 2px 0 rgba(190, 0, 248, 0.876);
    animation: float 3s ease-in-out infinite;
    width: 250px;
    height: 250px;
}



.litle2{
    font-size: 17px;
    
}

body{
    overflow: hidden;
}
.squares li {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255,0.15) ;
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite;
    animation-direction: alternate;
}

@keyframes up {
    from{
        opacity: 0;
        transform: translateY(0);
        
    }
    50%{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateY(-1000px ) rotate(960deg);
    }
}

@keyframes fade {
    from{
        opacity: 0;
        transform: rotate3d(0, 1, 0.5, 3.142rad);
        
    }
    to{
        opacity: 1;
        transform:scale(1);
        
    }
}

@keyframes redes {
    from{
        opacity: 0;
        transform: rotate(365);
        
    }
    to{
        opacity: 1;
        transform:scale(1);
        
    }
}

@media (max-width: 600px) {

    .box{
       justify-items: center;
       margin: 0 auto;
       padding: 2rem;
    }
    .box:first-child{
        padding: 1rem;
    }
}

@keyframes float {
    0%{
        transform: translateY(0);
        
    }
    50%{
        opacity: 1;
        transform: translateY(-25px);
        
    }
    100%{
        transform: translateY(0);
        
    }
}
